# Spark Data Analysis

## Library Import

In [5]:
from pyspark.sql import SparkSession
import pandas as pd

## Spark Session Creation

In [6]:
spark = SparkSession.builder.appName('parking_violation').getOrCreate()

In [7]:
# Checkout the Spark Details, and also getting the Spark UI url for our local installation
spark

In [8]:
df_pv = spark.read.csv('../datasets/parking_violation/parking_violation.csv', inferSchema = True, header = True)
# se quito el archivo parking_violation.csv, pesa demasiado, mata a la maquina

AnalysisException: Path does not exist: file:/C:/Users/XM05624_1/Downloads/pyspark_training-development/pyspark_training-development/datasets/parking_violation/parking_violation.csv;

In [5]:
# Let's see the information in nice pandas format :P
df_pv.limit(10).toPandas()

,_c0,Summons_Number,Plate_ID,Registration_State,Plate_Type,Issue_Date,Violation_Code,Vehicle_Body_Type,Vehicle_Make,Issuing_Agency,...,Latitude,Longitude,Community_Board,Community_Council_,Census_Tract,BIN,BBL,NTA,year,month
0,0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,...,None,None,None,None,None,None,None,None,2014,10
1,1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,...,None,None,None,None,None,None,None,None,2015,3
2,2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,...,None,None,None,None,None,None,None,None,2014,7
3,3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,...,None,None,None,None,None,None,None,None,2015,4
4,4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,...,None,None,None,None,None,None,None,None,2015,5
5,5,7704791394,JJF6834,PA,PAS,11/20/2014,21,4DSD,NISSA,T,...,None,None,None,None,None,None,None,None,2014,11
6,6,7541599104,FYP8263,NY,PAS,08/01/2014,21,SUBN,HONDA,T,...,None,None,None,None,None,None,None,None,2014,8
7,7,7443513951,FZL7450,NY,PAS,07/19/2014,71,4DSD,VOLVO,T,...,None,None,None,None,None,None,None,None,2014,7
8,8,7426321423,86318MA,NY,COM,09/23/2014,69,VAN,CHEVR,T,...,None,None,None,None,None,None,None,None,2014,9
9,9,8017159560,GKX8095,NY,PAS,01/20/2015,71,4DSD,LEXUS,T,...,None,None,None,None,None,None,None,None,2015,1

In [4]:
df_pv.where(df_pv['Census_Tract'].isNotNull()).limit(5).toPandas()

NameError: name 'df_pv' is not defined

In [7]:
df_pv.count()

11809233

In [8]:
# Dropping as much null values as we can
df_pv_fixed = df_pv.na.drop(how='all')
df_pv_fixed.count()

11809233

In [9]:
df_pv_fixed2 = df_pv.na.drop(how='any')
df_pv_fixed2.count()

0

In [ ]:
# Let's order de data by an specific field
df_pv_ord_vc = df_pv.orderBy('Violation_Code')
df_pv_ord_vc.limit(2).toPandas()

In [ ]:
#df_pv_lim = df_pv.select(['Issue_date', 'Violation_Code', 'Vehicle_Make'])
df_pv_lim = df_pv.select('Issue_date', 'Violation_Code', 'Vehicle_Make')
df_pv_lim

In [ ]:
df_pv_lim2 = df_pv_lim.withColumn("Agency", df_pv_lim.Issuing_Agency + "x")
#df_pv_lim.withColumn("Vendor", df_pv_lim['Vehicle_Make']).show()

In [ ]:
df_pv_lim2.limit(10).toPandas()

In [ ]:
# Never do this on a project please :( always you will have a better choice
df_pv.crossJoin(df_pv).take(5)