# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Library Imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
#import findspark
#findspark.init()

#import pyspark

In [2]:
# Just to do all the imports as we need
from pyspark.sql import SparkSession # to create spark session
from pyspark.sql.functions import countDistinct, avg, stddev, format_number

#### Start a simple Spark Session

In [4]:
spark = SparkSession.builder.appName("Project_SpDataFrame").getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [5]:
df_walmart = spark.read.csv("walmart_stock.csv", inferSchema = True, header = True)

#### What are the column names?

In [17]:
path = "../06_Spark_DataFrame_Project/walmart_stock.csv"
user_log = spark.read.json(path)
#user_log.printSchema()
#df_walmart.show()
df_walmart.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [15]:
df_walmart.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [44]:
cols = df_walmart.columns[:-2]
df_walmart.select(cols).show()
#df_walmart.select(['Date','open','High','Low','Close']).show()

+----------+------------------+------------------+------------------+------------------+
|      Date|              Open|              High|               Low|             Close|
+----------+------------------+------------------+------------------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004|
+----------+------------------+------------------+------------------+------------------+
only showing top 20 rows

#### Use describe() to learn about the DataFrame.

In [16]:
df_walmart.describe().show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns.

In [41]:
#df_walmart.withColumn('High',df_walmart['High']/1).show()
#df_walmart.withColumn('open',df_walmart['open']/2).show()
df_walmart.select(['open','High','Low','Close']).show()

+------------------+------------------+------------------+------------------+
|              open|              High|               Low|             Close|
+------------------+------------------+------------------+------------------+
|         59.970001|         61.060001|         59.869999|         60.330002|
|60.209998999999996|         60.349998|         59.470001|59.709998999999996|
|         59.349998|         59.619999|         58.369999|         59.419998|
|         59.419998|         59.450001|         58.869999|              59.0|
|         59.029999|         59.549999|         58.919998|             59.18|
|             59.43|59.709998999999996|             58.98|59.040001000000004|
|         59.060001|         59.529999|59.040001000000004|         59.400002|
|59.790001000000004|              60.0|         59.400002|              59.5|
|             59.18|59.610001000000004|59.009997999999996|59.540001000000004|
|         59.869999|60.110001000000004|             59.52|         59.849998|
|59.790001000000004|         60.029999|         59.650002|60.009997999999996|
|             59.93|             60.73|             59.75|60.610001000000004|
|             60.75|             61.25|         60.669998|61.009997999999996|
|         60.810001|             60.98|60.509997999999996|             60.91|
|             60.75|              62.0|             60.75|61.389998999999996|
|             61.18|61.610001000000004|61.040001000000004|         61.470001|
|         61.799999|             61.84|             60.77|         60.970001|
|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996|
|         60.470001|             61.32|         60.349998|         61.299999|
|         61.529999|             61.57|         60.580002|61.360001000000004|
+------------------+------------------+------------------+------------------+
only showing top 20 rows

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

#### What day had the Peak High in Price?

#### What is the mean of the Close column?

#### What is the max and min of the Volume column?

#### How many days was the Close lower than 60 dollars?

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

#### What is the Pearson correlation between High and Volume?
#### [Tip To Calculate](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

#### What is the max High per year?

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

# Great Job!